<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% assets "application-js" %}
                <script src="{{ASSET_URL}}"></script>
            {% endassets %}

            {% assets "application-css" %}
                <link rel="stylesheet" href="{{ASSET_URL}}">
            {% endassets %}
        {% endblock %}

        {% block pageTitle %}
            <title>MEAT - Monitor Every Awesome Thing</title>
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
        {% endblock %}

        <div class="container-fluid">
            {% block containerFluid %}
            {% endblock %}
        </div>
    </body>
</html>

