

.status-title {
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.status-panel {

}

.status-panel .panel-title {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.status-panel .panel-heading {
    padding: 0px;
    margin: 0px;
}

.status-panel .panel-body {
    
}

.status-panel .status-summary {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}
